body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

.form {
	margin: 15px;
	padding: 15px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 3px;
}

.form-name {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.status-name {
	margin: 15px 0 10px 0;
}

.checkbox-other {
	display: block;
	margin: 0 0 10px 40px;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.checkbox-other input[type='checkbox'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-other span {
	display: inline-block;
	position: relative;
	padding: 0 0 0 35px;
	line-height: 22px;
}
.checkbox-other span:before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url(https://snipp.ru/uploads/contents/checkbox-1.png) 0 0 no-repeat;
}

.checkbox-other input[type='checkbox']:checked + span:before {
	background-image: url(https://snipp.ru/uploads/contents/checkbox-2.png);
}
.name {
	/* border-top: 1px solid #e5e5e5; */
	margin: 10px 0;
	width: 100%;
}

.item {
	display: flex;
	align-items: center;
}

.item div {
	margin: 0 5px;
}

.data input {
	padding: 5px;
}

.data p {
	margin: 0 3px;
}

.button {
	display: flex;
	width: 100%;
}

.btn {
	background: #7fc700;
	border-radius: 3px;
	margin: 0 10px;
	width: 100%;
	justify-content: space-between;
}

.btn1,
.btn2 {
	background: #fff;
	border: 1px solid #e5e5e5;
}

.btn:hover {
	opacity: 0.6;
}

.submit {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
	margin: 20px 0;
}
